.title {
  display: block;

  margin: 0;
  padding: 32px 0 16px;

  font-size: 2em;
  text-align: center;

  color: rgba(0, 0, 0, 0.63);

  abbr {
    text-decoration: none;
  }
}

.first-name {
  color: rgba(0, 0, 0, 1);
}

.subtitle {
  display: block;

  font-size: 0.96em;
  font-weight: 100;
  text-align: center;

  color: rgba(0, 0, 0, 0.63);

  abbr {
    text-decoration: none;
  }
}
