.lets-connect {
  display: block;

  padding: 48px 0 0;

  text-align: center;

  a {
    display: inline-block;

    margin: 0 8px;
    padding: 4px;

    width: 1.45em;
    height: 1.8em;

    @media (max-width: 480px) {
      width: 1.38em;
    }
  }
}

.lets-connect-separator {
  display: inline-block;

  padding: 0 4px;

  font-weight: 100;
  font-size: 1.8em;

  color: rgba(0, 0, 0, 0.07);
}

.upwork-link {
  margin-top: 48px !important;
  padding: 0 !important;

  width: initial !important;
}
